@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Roboto:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.intro-section {
  /* border: 2px solid red; */
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.intro-box {
  /* border: 2px solid red; */
  margin-top: 2rem;
}

.intro-section h3 {
  /* border: 2px solid red; */
  font-size: 35px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.intro-section p {
  /* border: 2px solid red; */
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 30px;
}
