@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Roboto:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.contact-section {
  /* border: 2px solid red; */
}

.apply-now-box {
  background-color: red;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.apply-now-box h4 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
}
.contact-box {
  /* border: 2px solid red; */
  margin-top: 10px;
  margin-bottom: 40px;
}
.contact-btn {
  /* border: 2px solid red; */
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 1.5rem;
}
.contact-btn button {
  /* border: 2px solid red; */
  border-radius: 0px;
  margin-right: 3rem;
  height: 50px;
  width: 150px;
  color: #fff;
  background-color: rgb(255, 0, 0);
}
