@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Roboto:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.Facultycarousel {
  /* border: 2px solid red; */
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.Facultycarousel h2 {
  /* border: 2px solid red; */
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 30px;
  margin-right: 1rem !important;
}
.cardimg-box {
  /* border: 2px solid black; */
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
}
.cardimg-box p {
  /* border: 2px solid red; */
  color: #fff;
  color: #000;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  font-size: 15px;
  /* transform: translate(0px, -26px); */
  height: 25px;
  width: 225px;
}

.cardimg img {
  /* border: 2px solid red; */
  height: 200px;
  width: 225px;
}

.slick-prev,
.slick-next {
  /* border: 2px solid red !important; */
  border-radius: 50% !important;
  /* padding: 20px !important; */
  color: black !important;
  display: block;
  height: 40px;
  width: 35px;
}
.slick-prev {
  transform: translateX(-10px);
}
.slick-next {
  transform: translateX(10px);
}

.school-activities-textbox {
  /* border: 2px solid red; */
  margin-top: 30px;
  padding: 50px;
}
.school-activities-textbox p {
  font-size: 18px;
}
