@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Roboto:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.visionmission-section {
  /* border: 2px solid red; */
  padding-top: 4rem;
  padding-bottom: 3rem;
}
.visionmission-text-box {
  /* border: 2px solid red; */
}
.vision-text {
  /* border: 2px solid red; */
}
.mission-text {
  /* border: 2px solid red; */
}
.vision-text h3,
.mission-text h3 {
  /* border: 2px solid red; */
  font-size: 2rem;
  font-weight: bolder;
  color: #000;
  text-transform: capitalize;
  margin-top: 1rem;
  margin-right: 2rem;
}
.vision-text p,
.mission-text p {
  /* border: 2px solid red; */
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 27px;
  margin-top: 1rem;
  margin-right: 2rem;
}

.principal-text-box {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 4rem;
}
.principal-text-box h3 {
  /* border: 2px solid red; */
  font-size: 2rem;
  font-weight: bolder;
  color: #000;
  text-transform: capitalize;
  transform: translateY(-40px);
}
.principal-text-box p {
  /* border: 2px solid red; */
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 27px;
  margin-top: 1rem;
}
.principal-text-box span {
  font-weight: bold;
}
.principal-img {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.principal-img img {
  border-radius: 50%;
  /* border: 2px solid red; */
}
.readmore-btn {
  /* border: 2px solid red; */
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 1.5rem;
}
.readmore-btn a {
  /* border: 2px solid red; */
  border-radius: 0px;
  margin-right: 3rem;
  height: 50px;
  width: 150px;
  color: #fff;
  background-color: rgb(255, 0, 0);
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
